{% extends 'studio/main.html' %}

{% load static %}
{% block content %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" type="x-icon" href="{% static 'img/lion.jpg' %}">
        <title>Our Portfolio</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        
       

        
    </head>

    <body>
        
        <!-- Header Section Start -->
        <div class="menu"> <span></span> </div>
       
        <div class="overlay"></div>
        <div class="header banner">
            
            <div class="container text-center">
            
                    
                    <div class="col-md-12">
                        <h1><a class="brand" href="#">Lion Pictures</a></h1>
                        <!-- <a class="brand" href="index.html"><img alt="Logo" src="img/logo.jpg"></a> -->
                    </div>
                </div>

                <div class="col-md-12">
                    
                </div>
            </div>
        </div>
        <!-- Header Section End -->
        
        <!-- Portfolio Section Start -->
        <div id="portfolio" style="padding-bottom: 60px;">
            <div class="container-fluid gal-container">
                <div class="section-header">
                    <h2>Our Gallerys</h2>
                </div>
                <form action="" method="POST" style="display: flex; margin-left: 975px">
                    <a href="{% url 'gallary_post' %}" style="margin: 30px;  cursor: pointer;" class="btn btn-sm btn-info">Post</a>
                </form>
                
                <div class="row">
                    <div class="col-md-4 col-sm-6 co-xs-12 port-item">
                        <div class="box7">
                            <img src="{% static 'img/portfolio/portfolio-1.jpg'%}">
                            <div class="box-content">
                                <h3 class="title">{{gallary.text_h1}}</h3>
                                <span class="post">{{gallary.text_p}} .</span>
                                <ul class="icon">
                                    <li><a href="#" class="fa fa-search" data-toggle="modal" data-target="#modal-id"></a></li>
                                    <li><a href="#" class="fa fa-remove" data-toggle="modal" data-target="#modal-id"></a></li>
                                </ul>
                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 co-xs-12 port-item">
                        <div class="box7">
                            <img src="{% static 'img/portfolio/portfolio-2.jpg'%}">
                            <div class="box-content">
                                <h3 class="title">{{gallary.text_h1}}</h3>
                                <span class="post">{{gallary.text_p}} .</span>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 co-xs-12 port-item">
                        <div class="box7">
                            <img src="{% static 'img/portfolio/portfolio-3.jpg'%}">
                            <div class="box-content">
                                <h3 class="title">Lion Pictures</h3>
                                <span class="post">We Capture Your Moment.</span>
                              
                            </div>
                        </div>
                    </div>
              
                    <div class="col-md-4 col-sm-6 co-xs-12 port-item">
                        <div class="box7">
                            <img src="{% static 'img/portfolio/portfolio-4.jpg'%}">
                            <div class="box-content">
                                <h3 class="title">Lion Pictures</h3>
                                <span class="post">We Capture Your Moment.</span>
                             
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 co-xs-12 port-item">
                        <div class="box7">
                            <img src="{% static 'img/portfolio/portfolio-5.jpg'%}">
                            <div class="box-content">
                                <h3 class="title">Lion Pictures</h3>
                                <span class="post">We Capture Your Moment.</span>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 co-xs-12 port-item">
                        <div class="box7">
                            <img src="{% static 'img/portfolio/portfolio-6.jpg'%}">
                            <div class="box-content">
                                <h3 class="title">Lion Pictures</h3>
                                <span class="post">We Capture Your Moment.</span>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 co-xs-12 port-item">
                        <div class="box7">
                            <img src="{% static 'img/portfolio/portfolio-7.jpg'%}">
                            <div class="box-content">
                                <h3 class="title">Lion Pictures</h3>
                                <span class="post">We Capture Your Moment.</span>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 co-xs-12 port-item">
                        <div class="box7">
                            <img src="{% static 'img/portfolio/portfolio-8.jpg'%}">
                            <div class="box-content">
                                <h3 class="title">Lion Pictures</h3>
                                <span class="post">We Capture Your Moment.</span>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 co-xs-12 port-item">
                        <div class="box7">
                            <img src="{% static 'img/portfolio/portfolio-9.jpg'%}">
                            <div class="box-content">
                                <h3 class="title">Lion Pictures</h3>
                                <span class="post">We Capture Your Moment.</span>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="modal-id" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="port-slider">
                                    <div><img src="{% static 'img/portfolio/portfolio-2.jpg'%}"></div>
                                    <div><img src="{% static 'img/portfolio/portfolio-4.jpg'%}"></div>
                                    <div><img src="{% static 'img/portfolio/portfolio-6.jpg'%}"></div>
                                    <div><img src="{% static 'img/portfolio/portfolio-8.jpg'%}"></div>
                                </div>
                                <div class="port-slider-nav">
                                    <div><img src="{% static 'img/portfolio/portfolio-2.jpg'%}"></div>
                                    <div><img src="{% static 'img/portfolio/portfolio-4.jpg'%}"></div>
                                    <div><img src="{% static 'img/portfolio/portfolio-6.jpg'%}"></div>
                                    <div><img src="{% static 'img/portfolio/portfolio-8.jpg'%}"></div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Section End -->

        <!-- Call Section Start -->
        <div id="call-us">
            <div class="container">
                <div class="section-header">
                    <h2>Click below to call me</h2>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>
                            Monday-Sunday: 7am to 12am<br>
                            
                        </p>
                        <a href="tel:+251925410470">+251925410470</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call Section End -->
    
    {% endblock content %}
</body>
</html>
